.contact-section {
	display: flex;
	padding-bottom: 0;
	height: 80vh;
	margin-top: 70px;
	align-items: center;
}
#map {
	height: 80vh;
	width: 100%;
	z-index: 1;
	position: fixed;
}
.contact-box {
	position: absolute;
	border: 8px solid #EAF0EE;
	left: 8%;
	z-index: 100;
	background-color: white;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	padding: 60px 120px 40px 120px;
	h2 {
	    font-size: 31px;
	}
	p {
		padding: 30px 30px 20px 30px;
		color: #395B5B;
	}
	a {
		color: #395B5B;
	}
}
@media only screen and (max-width:1000px){
	.contact-box {
		width: 100%;
    	top: 6%;
    	left: 0;
	}
}