.contact-wrapper {
	background-color: #EAF0EE;
	z-index: 1;
	padding: 20px 0;
}
.contact-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	border: #EAF0EE 20px solid;
	z-index: 1000;
}
.contact-box {
	background-color: white;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	padding: 30px 0 0 0;
	height: 70vh;
	width: 40vw;
	h2 {
	    padding-top: 30px;
	}
	p {
		padding: 30px 30px 20px 30px;
		color: #395B5B;
	}
	span {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
		color: #395B5B;
	}
}
.contact-map {
	height: 70vh;
	width: 40vw;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
}

