.events-page-content {
  z-index: 20;
  position: absolute;
  background-color: white;
  width: 100vw;
  margin-top: 350px;
}
.events-para {
	padding-bottom: 1em;
	height: 65vh;
}
.events-wrapper {
	background-color: #F3F6F5;
}


//ACTIVITIES
.activity-days {
	display:flex;
	padding-top: 70px;
}
.activity-days-box {
	padding: 50px;
	background-color: white;
    width: 162vw;
    margin-top: -26px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    h4 {
    	font-size: 24px;
  
    }
    p {
    	padding-top: 20px;
    	color: #395B5B;
    }
}
.activity-days-box:hover {
	h4, p {
		color: black;
	}
} 
.activity-image {
	width: 22.34vw;
	height: 25vh;
    padding-bottom: 5px;
}
.activity-image-last {
	width: 45vw;
	height: auto;
    padding-right: 0px;
}
//Filming & Photo Shoots
.filming-photoshoots {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items:center;
	h4 {
    	font-size: 24px;
    }
}
.filming-photoshoots-box {
	padding: 40px;
    background-color: white;
    width: 30vw;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    p {
    	padding-top: 20px;
    	color: #395B5B;
    }
}
.filming-photoshoots-box:hover {
	h4, p {
		color: black;
	}
} 
.filming-photoshoots-image {
	width: 25vw;
    height: 36vh;
    margin-left: 5px;
}
//Cricket 
.cricket-image {
	background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482517/cricket-big_mdbt2w.jpg');
	width: 89.1vw;
	color: black;
	text-align: center;
	height: 70vh;
	background-position: center;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.cricket-content {
	padding: 35px 55px;
	z-index: 1000;
	background-color: white;
	h4 {
    	font-size: 24px;
    }
	p {
		padding-top: 20px;
		color: #395B5B;
	}
}
.cricket-content:hover {
	h4, p {
		color: black;
	}
}
.cricket-collage {
	padding-top: 5px;
	z-index: 1;
	display: flex;
	justify-content: center;
}
.cricket-collage-image {
	width: 29.4vw;
	height: 30vh;
}
.middle-image {
	margin-left: 5px;
	margin-right: 5px;
}

// mobile/desktop only
@media only screen and (max-width:962px){
  .activity-days {
  	padding-top: 43px;
  	flex-wrap: wrap;
  }
  .activity-days-box {
  	padding: 31px;
  }
  .activity-image {
    width: 45.7vw;
    height: 22vh;
  }
  .activity-image-last {
    width: 92.4vw;
  }
}
