.events-page-content {
  z-index: 20;
  position: absolute;
  background-color: white;
  width: 100vw;
  margin-top: 59vh;
}
.events-para {
	padding-bottom: 1em;
	height: 430px;
}
.events-wrapper {
	background-color: #F3F6F5;
}

//ACTIVITIES
.activity-days {
	display:flex;
	padding-top: 70px;
	margin-left: 5vw;
	margin-right: 5vw;
}
.activity-days-box {
	padding: 50px;
	background-color: white;
    width: 162vw;
    margin-top: -26px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    h4 {
    	font-size: 24px;
  
    }
    p {
    	padding-top: 20px;
    	color: #395B5B;
    }
}
.activity-days-box:hover {
	h4, p {
		color: black;
	}
} 
.activity-image {
	width: 15.34vw;
    height: auto;
    padding-bottom: 10px;
    padding-right: 8px;
}
.activity-image-last {
	width: 31vw;
	height: auto;
    padding-right: 8px;
}

//Filming & Photo Shoots
.filming-photoshoots {
	margin: 60px 10vw;
	display: flex;
	justify-content: center;
	align-items:center;
	h4 {
    	font-size: 24px;
    }
}
.filming-photoshoots-box {
    padding: 40px;
    background-color: white;
    width: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 35vh;
    padding-top: 10vh;
    p {
    	padding-top: 20px;
    	color: #395B5B;
    }
}
.filming-photoshoots-box:hover {
	h4, p {
		color: black;
	}
} 
.filming-photoshoots-image {
    width: auto;
    height: 35vh;
    margin-left: 10px;
}
//Cricket 
.cricket-image {
	background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482517/cricket-big_mdbt2w.jpg');
	width: 89.1vw;
	color: black;
	text-align: center;
	height: 70vh;
	background-position: center;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.cricket-content {
	padding: 35px 55px;
	z-index: 1000;
	background-color: white;
	h4 {
    	font-size: 24px;
    }
	p {
		padding-top: 20px;
		color: #395B5B;
	}
}
.cricket-content:hover {
	h4, p {
		color: black;
	}
}
.cricket-collage {
	z-index: 1;
	display: flex;
	justify-content: center;
}
.cricket-collage-image {
	width: 29.1vw;
	height: 30vh;
	margin-top: 10px;
}
.middle-image {
	margin-left: 10px;
	margin-right: 10px;
}
@media only screen and (min-width:1277px){
	.activity-days-box {
	    h4 {
	    	margin-top: 40px;
	    }
	    p {
	    	padding-right: 80px;
	    	padding-left: 80px;
		}
	}
}
@media only screen and (max-width:1864px){
	.filming-photoshoots {
		margin: 60px 5vw;
	}
}
@media only screen and (max-width:1646px){
	.filming-photoshoots-box {
	    width: 36vw;
	    height: auto;
	    padding-top: 7vh;
	}
	.filming-photoshoots-image {
	    width: 29vw;
	    height: auto;
	}
}
@media only screen and (max-width:1483px){
	.activity-days {
		margin-left: 2vw;
		margin-right: 2vw;
	}
	.activity-days-box {
    	width: 95vw;
    }
    .activity-image {
	    width: 19.3vw;
	}
	.activity-image-last {
    	width: 39vw;
  	}
  	.activity-days-collage {
  		width: 42vw;
  	}
  	.filming-photoshoots-box {
  		height: auto;
 		padding-top: 4vh;
 		width: 33vw;
  	}
}
@media only screen and (max-width:1212px){
	.activity-image {
		display: none;
	}
	.filming-img-small {
		display: none;
		margin-left: 0;
	}
	.filming-photoshoots-image {
    	width: 36vw;
    }
    .filming-photoshoots-box {
    	width: 42vw;
    }
	.activity-days {
  		flex-wrap: wrap;
  	}
  	.activity-image-last {
    	width: 80vw;
    	padding-right: 0;
  	}
  	.activity-days {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}
@media only screen and (max-width:908px){
	.filming-photoshoots {
  		flex-wrap: wrap;
  		flex-direction: row-reverse;
	}
	.filming-photoshoots-box {
	    width: 73.5vw;
	}
	.filming-img-small {
		display: block;
	}
}
@media only screen and (max-width:596px){
	.activity-image-last {
    	width: 96vw;
  	}
  	.events-buttons {
		display: none;
	}
	.activity-days-box {
    	width: 100vw;
	}
	.activity-days {
		margin-left: 2vw;
		margin-right: 2vw;
	}
}
@media only screen and (max-width:450px){
	.activity-days {
		margin-left: 2vw;
		margin-right: 2vw;
	}
	.events-para {
    	height: 473px;
    }
    .events-buttons {
		display: none;
	}
}
























