.gallery-wrapper {
  background-color: #F3F6F5;
  margin-top: 120px;
  z-index: 1;
}
.gallery-title {
  margin-top: 120px;
  h2 {
    font-size: 31px;
  }
}
.gallery-collage {
  z-index: 20;
  padding: 10px 100px 40px 100px;
  
}
#photos {
  position: relative;
  margin-top: -90px;
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      5px;
  column-count:         3;
  column-gap:           10px;  
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 10px;
}
#photos-2 {
  position: relative;
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      5px;
  column-count:         3;
  column-gap:           10px;  
}
#photos-2 img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 10px;
}
#photos-3 {
  position: relative;
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      5px;
  column-count:         3;
  column-gap:           10px;  
}
#photos-3 img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 10px;
}
//small screens
@media only screen and (max-width:900px){
  .gallery-collage {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width:600px){
  .gallery-collage {
    padding-left: 10px;
    padding-right: 10px;
  }
}




