.intro-text {
	padding-right: 75px;
	padding-left: 75px;
	h2 {
		padding-bottom: 30px;
	}
	p {
		color: #395B5B;
		padding-left: 30px;
		padding-right: 30px;
	}
}
.green-line {
	border-top: #EAF0EE 20px solid;
}
.landing-green-line {
	border-top: #D5E2DE 20px solid;
}
.landing-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
}
.landing-box {
	margin: 10px;
}
.landing-box:hover {
	.landing-box-text {
		background-color: #D5E2DE;
		border-style: none;
	}
	a {
		text-decoration: none;
	}
}
.landing-box-image img {
	width: 28vw;
	position: relative;
}
.landing-box-text {
	background-color: white;
	padding: 40px;
  	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
    border-top-style: none;
    bottom: -124px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    width: 28vw;
    text-decoration: none;
}
.landing-box-row-1 img {
	margin-top: -80px;
}
.landing-box-border {
  border: #EAF0EE 2px solid;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  z-index: 5;
}
.landing-wrapper {
	background-color: #EAF0EE;
	margin-top: 50px;
	margin-bottom: -100px;
}
#weddings-hover-text {
	display: none;
}
.weddings:hover {
	#weddings-hover-text {
		display: block;
		margin-top: 4px;
		margin-bottom: -6px;
	}
	#weddings-occasions {
		display: none;
	}
}
.about {
	background-color: white;
    width: 100%;
    padding-top: 100px;
}
.about-wrapper {
	background-color: #EAF0EE;
	padding: 70px 0;
}
.about-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 60px;
}
.about-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	padding: 60px 0 0 0;
	height: 45vh;
	width: 40vw;
	border-top: #F6F6F6 0.15px solid;
	h2 {
	    padding-top: 30px;
	}
	p {
		padding: 30px 50px 0 50px;
		color: #395B5B;
	}
	span {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.about-image {
	height: 45vh;
	width: 40vw;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
}

