.intro-text {
	padding-right: 100px;
	padding-left: 100px;
	height: 70vh;
	h2 {
		padding-bottom: 30px;
	}
	p {
		color: #395B5B;
		padding-left: 30px;
		padding-right: 30px;
	}
}
.green-line {
	border-bottom: 20px solid #EAF0EE;
}
.landing-intro-text {
	padding-right: 75px;
	padding-left: 75px;
	height: 75vh;
	h1 {
		padding-bottom: 30px;
	}
}
.landing-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	margin-bottom: 15px;
}
.landing-box {
	margin: 10px;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
}
.landing-box:hover {
	-webkit-transform: scale(1.02);
	opacity: 1;
	.landing-box-text {
		background-color: #FFFFFF;
		border-style: none;
		font-size: 17px;
		border-top: solid 2px #1F363D;
	}
	a {
		text-decoration: none;
	}
}
.landing-box-image img {
	width: 26vw;
	position: relative;
}
.landing-box-text {
	background-color: white;
	padding: 30px;
    border-top-style: none;
    bottom: -124px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    width: 26vw;
    text-decoration: none;
    border-top: solid 2px white;
    h4 {
    	font-size: 18px;
    }
}
.landing-box-row-1 img {
	margin-top: -80px;
}
.landing-box-border {
    border: #EAF0EE 2px solid;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    z-index: 5;
}
.landing-wrapper {
	background-color: #F3F6F5;
	margin-top: 30px;
	margin-bottom: -100px;
}
#weddings-hover-text {
	display: none;
}
.weddings:hover {
	-webkit-transform: scale(1);
	opacity: 1;
	#weddings-occasions {
		display: none;
	}
	#weddings-hover-text {
		display: block;
		margin-top: 4px;
		margin-bottom: -6px;
	}
}
.landing-margin {
	margin-bottom: 40vh;
}
.about {
	background-color: white;
    width: 100%;
    padding-top: 85px;
}
.about-wrapper {
	background-color: #EAF0EE;
	padding: 70px 0;
}
.about-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 60px;
}
.about-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding: 60px 0 0 0;
	height: 45vh;
	width: 40vw;
	h2 {
	    padding-top: 30px;
	}
	p {
		padding: 30px 50px 0 50px;
		color: #395B5B;
	}
	span {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.about-image {
	height: 56vh;
    width: 55vw;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	border-left: solid 15px #EAF0EE;
	border-right: solid 15px #EAF0EE; 
}

