#welcome {
	// margin-bottom: 10px;
}
.green-line {
	border-bottom: 20px solid #EAF0EE;
}
.landing-text-wrapper {
	width: 100vw;
	background-color: white;
}
.landing-intro-text {
	height: 530px;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	h1 {
		padding-bottom: 30px;
	}
	p {
		color: #395B5B;
		text-align: center;
		width: 950px;
		margin-bottom: 80px;
	}
}
.landing-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 0 0 15px 0;
}
.landing-box {
	margin: 20px 10px 10px 10px;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
}
.landing-box:hover {
	-webkit-transform: scale(1.02);
	opacity: 1;
	.landing-box-text {
		background-color: #FFFFFF;
		border-style: none;
		border-top: solid 3px #1F363D;
	}
	a {
		text-decoration: none;
	}
}
.landing-box-image img {
	width: 400px;
	position: relative;
}
.landing-box-text {
	background-color: white;
	padding: 30px;
    border-top-style: none;
    bottom: -124px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 100;
    width: 400px;
    text-decoration: none;
    border-top: solid 3px white;
    h4 {
    	font-size: 18px;
    }
}
.landing-box-top-row img {
	margin-top: -80px;
}
.landing-wrapper {
	background-color: #F3F6F5;
	margin-bottom: -100px;
}
#weddings-hover-text {
	display: none;
}
.weddings:hover {
	-webkit-transform: scale(1);
	opacity: 1;
	#weddings-occasions {
		display: none;
	}
	#weddings-hover-text {
		display: block;
		margin-top: 4px;
		margin-bottom: -6px;
		line-height: 1;
	}
}
.blank-block {
	height: 70vh;
}
.about {
	background-color: white;
    padding: 85px 180px 0 180px;
}
.about-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 60px;
}
.about-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding: 80px 0 0 68px;
    width: 405px;
	p {
		padding-top: 20px;
		color: #395B5B;
	}
	span {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.about-image {
	height: 40vh;
    width: auto;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	border-left: solid 15px #EAF0EE;
	border-right: solid 15px #EAF0EE;
}

// Screen sizes
@media only screen and (max-width:1500px){
	.about-boxes {
		align-items: center;
	}
	.about-image {
		height: auto;
		width: 500px;
	}
	.about-box {
		padding-left: 0px;
		padding-top: 50px;
		p {
			padding: 30px 80px;
		}
	}
}
@media only screen and (max-width:1397px){
	.landing-box-top-row img {
		margin-bottom: 0px;
	}
	.landing-intro-text {
		p {
			color: #395B5B;
			text-align: center;
			width: 85%;
			margin-bottom: 80px;
		}
	}
}
@media only screen and (max-width:1269px){
	.banner-content {
		margin-top: 8vh;
	}
}
@media only screen and (max-width:1260px){
	.landing-box-image img {
		width: 300px;
	}
	.landing-box-text {
    width: 300px;
	}
}
@media only screen and (max-width:1252px){
	.about {
	    background-color: white;
	    padding: 85px 50px 0 50px;
	}
}
@media only screen and (max-width:1203px){
  	.landing-intro-text {
		height: 500px;
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media only screen and (max-width:996px){
	.landing-box-image img {
		width: 250px;
	}
	.landing-box-text {
    	width: 250px;
    	height: 122px;
	}
	.about-boxes {
		align-items: center;
		flex-direction: column-reverse;
	}
	.about-box p {
    	padding: 30px 10px;
	}
}
@media only screen and (max-width:910px){
	.box-text-small-screen {
		padding: 30px 80px;
	}
	.landing-para {
		width: auto;
    	padding-bottom: 20px;
	}
}
@media only screen and (max-width:738px){
	.landing-intro-text {
		height: auto;
		p {
			margin-bottom: 30px;
		}
	}
	.landing-box-image img {
		width: 100%;
	}
	.landing-box-text {
    	width: 100%;
    	justify-content: center;
	}
	.landing-box {
		margin-left: 10px;
		margin-right: 10px;
	}
	.landing-box-top-row img {
		margin-top: 0px;
	}
	.activity-first-row {
		margin-top: -50px;
	}
	.about  {
		padding: 20px 0 0;
	}
	.about-box p {
    	width: 80%;
		padding: 30px 10px;
	}
}
@media only screen and (max-width:533px){
	.about-image {
		height: auto;
		width: 80%;
	}
	.about {
		padding: 85px 10px 0 10px;
	}
  .banner-content {
    margin-top: 0;
    padding-top: 8vh;
  }
}

