.local-wrapper {
	background-color: #EAF0EE;
	z-index: 1;
	display: flex;
	justify-content: center;
	margin-top: -60px;
}
.local-text {
	padding-bottom: 40px;  	
}
.local-image {
	img {
		width: 65vw;
		margin-top: -65px;
		margin-bottom: 20px;
	}
}
.local-box {
	z-index: 1000;
	
	flex-direction: column;
	width: 65vw;
	padding-bottom: 40px;
	background-color: white;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
	p {
		margin-bottom: 60px;
		color: #395B5B;
	}
}
.local-links a {
	text-decoration: none;
	color: #395B5B;
	font-size: 18px;
}
.local-links a:hover {
	color: #D5E2DE;
}
