.stay-wrapper {
  background-color: #F3F6F5;
  margin-top: -120px;
  margin-bottom: 0px;
}
.stay-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
}
.stay-box {
	margin: 10px;
}
.stay-box-image img {
	width: 24vw;
	position: relative;
}
.stay-box-text {
	background-color: white;
  border-top: solid 3px white;
	padding: 40px 26px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
  bottom: -124px;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 100;
  width: 24vw;
  h4 {
  	padding-top: 10px;
  	padding-bottom: 5px;
    span {
      font-size: 14px;
    }
  }
  p {
  	padding: 10px;
	  color: #395B5B;
  }
}
.stay-box-text:hover {
  border-top: solid 3px #1F363D;
	h4, p {
		color: black;
	}
} 
.stay-box-row-1 img {
	margin-top: -80px;
}
.stay-box-border {
  //border: #EAF0EE 2px solid;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  z-index: 5;
}
.stay-image {
  img {
  	width: 75vw;
    margin-top: 40px;
  }
}
.stay-images {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  img {
    width: 307px;
    height: 30vh;
    margin: 18px 10px 20px 10px;
  }
}