<%= render 'shared/navbar_main' %> 
<div class="banner-contact">
</div>
<div class="contact-wrapper">
	<div class="contact-boxes">
		<div class="contact-box text-center">
			<h2>Contact Us</h2>
			<p>Please do contact us and we will do our <br> best to help you with your every need.</p>
			<span>Pinkney Park<br>
			Malmesbury<br>
			Wiltshire<br>
			SN16 0NX<br>
			<br>
			T: 01666 840257<br>
			E: <%= link_to "info@pinkneypark.co.uk", "mailto:info@pinkneypark.co.uk"</span>
		</div>
		<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1488492832/map_fjsuqo.jpg", class: "contact-map") %>
	</div>
</div>
