<%= render 'shared/navbar_main' %>
<div class="contact-page-content">
	<div class="contact-section">
		<div id="map">
		</div>
		<div class="contact-box text-center">
			<h2>Contact Us</h2>
			
			<br></br>
			Pinkney Park<br>
			Malmesbury<br>
			Wiltshire<br>
			SN16 0NX<br>
			<br>
			T: +44 (0) 1666 840257<br>
			E: <%= link_to "info@pinkneypark.co.uk", "mailto:info@pinkneypark.co.uk" %>
			</p>
		</div>
	</div>
	<%= render 'shared/footer' %>
</div>

<script>
  function initMap() {
    // Styles a map in night mode.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 51.575999, lng: -2.212554},
      zoom: 15,
      styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#698d8d"},{"visibility":"on"}]}]
    });
  }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALRLkfrBwnBZqfBDrpPPlyeiz0-v7mbjo&callback=initMap"
    async defer></script>
