<%= render 'shared/navbar_main' %> 
<div class="banner-main">
</div>
<div class="contact-wrapper">
	<div class="contact-boxes">
		<div class="contact-box text-center">
			<h2>Contact Us</h2>
			<p>Please do contact us and we will do our <br> best help you with your every need.</p>
			<span>Pinkney Park<br>
			Malmesbury<br>
			Wiltshire<br>
			SN16 0NX<br>
			<br>
			T: 01207 698 4833<br>
			E: info@pinkneypark.co.uk</span>
		</div>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1488200557/landing-image-template_zh9lrz.png", class: "contact-map") %>
	</div>
</div>
