<%= render 'shared/navbar_main' %> 
<div class="banner-small">
</div>

<div class="green-line"></div>
<div class="intro-text text-center padded container">
	<h2>Private and Corporate Events</h2>
	<p>Pinkney Park offers facilities for parties, weddings, meetings, conferences and training courses. We have two large rooms (20ft x 40ft and 30ft x 15ft) and plenty of space for marquees.
	<br></br>
	Catering can be tailored for all individual needs. We can vary the menus from summer pool or riverside barbeques to five course dinners.
	</p>
</div>