<%= render 'shared/navbar_main' %> 
<div class="banner-contact">
</div>
<div class="local-wrapper">
	<div class="container">
		<div class="local-box text-center">
			<h2>Local Area</h2>
			<p>Please do contact us and we will do our <br> best to help you with your every need.</p>
			<span>Pinkney Park<br>
			Malmesbury<br>
			Wiltshire<br>
			SN16 0NX<br>
			<br>
			T: 01207 698 4833<br>
			E: info@pinkneypark.co.uk</span>
		</div>
	</div>
</div>
