// Your footer style
.footer {
	background-color: #1F363D;
	z-index: 10000 !important;
}
.footer-main {
	margin-top: 0px;
	padding: 70px 0 50px 0;
	display: flex;
	span {
		color: #97B6AC;
		font-size: 22px;
	}
	p {
		color: white;
		font-weight: lighter;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: white;
	}
}
.footer-left {
	padding-left: 115px;
    padding-top: 60px;
    p {
   	font-size: 10px;
   	padding-top: 10px;
   }
}
.footer-middle {
   padding: 0px 138px;
}
.arrow-up {
	position: relative;
	top: -300px;
}
.arrow-up a {
	color: #97B6AC;
	font-size: 12px;
	font-weight: lighter;
	p {
		color: #1F363D;
	}
}
.arrow-up a:hover {
	color: #1F363D;
	text-decoration: none;
}