/* Main class */
.navbar-pinkneypark {
  display: flex;
  height: 70px;
  padding: 0px 60px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
#navbar-background {
  background-color: black;
}

/* Optional class to fix the navbar on top */
.navbar-pinkneypark-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100%;
}

/* Navbar logo */
.navbar-pinkneypark-brand img {
    width: 150px;
    position: absolute;
    left: 20px;
    top: 22px;
}

/* Navbar right section (with form, links, button) */
.navbar-pinkneypark-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-pinkneypark-link {
  color: white;
  font-size: 14px;
  padding: 0 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.navbar-pinkneypark-link:hover {
  color: #395B5B;
  text-decoration: none;
}



// On scroll only
.navbar-pinkneypark-scroll {
  display: flex;
  height: 70px;
  padding: 0px 60px;
  align-items: center;
  justify-content: center;
  background-color: #D5E2DE;
  background: #D5E2DE;
  border-color: #D5E2DE;
  max-width: 100%;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.3);
}
.navbar-pinkneypark-link-scroll {
  color: #395B5B;
  font-size: 14px;
  padding: 0 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.navbar-pinkneypark-link-scroll:hover {
  color: #EAF0EE;
  text-decoration: none;
}


//MOBILE: 

//TOGGLE

.dropdown {
  font-size: 25px;
}
.dropdown a {
  text-decoration: none;
}
.dropdown.open a {
  text-decoration: none;
}
.toggle-white a {
  color: white;
}
.toggle-black a {
  color: black;
}
/* Navbar dropdown menu */
.navbar-pinkneypark-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  text-decoration: none;
}
.navbar-pinkneypark-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  width: 100%;
}
.navbar-pinkneypark-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-menu-right {
  padding: 30px;
}


// Mobile & Tablet only
@media only screen and (max-width:1200px){
  .navbar-pinkneypark-scroll {
    opacity: 1;
  }
}
// Tablet - portrait max 420
@media only screen and (max-width:420px){
  .navbar-pinkneypark-brand img {
      width: 100px;
  }
}












