.banner-landing {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488489888/landing_w7eiz8.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  h6 {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 20px;
    color: white;
  }
  a {
    padding: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
  }
}
.banner-content {

}
.banner-prop {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488491344/prop_bldet0.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
.banner-events {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488491484/DSC02838_copy_hqbavd.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
.banner-stay {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488492040/stay_wxmhc2.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
.banner-contact {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488566121/cont_wcjebz.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
.banner-small {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488482519/cricket-banner_kwngc2.jpg');
  height: 40vh;
  width: 100%;
  background-size: cover !important;
}