.banner-prop {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488491344/prop_bldet0.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  z-index: 0;
  position: fixed;
}
.banner-events {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488491484/DSC02838_copy_hqbavd.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  z-index: 0;
  position: fixed;
}
.banner-stay {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488492040/stay_wxmhc2.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  z-index: 0;
  position: fixed;
}
.banner-contact {
  background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1488566121/cont_wcjebz.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  z-index: 0;
  position: fixed;
}